<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="jesusemoji.png" type="image/x-icon">

    <title>Login - My Christian AI</title>
    <style>
        body {
            text-align: center;
            padding-top: 50px;
            margin: auto;
            display: flex;
            align-items: center;
        }

        .login-button {
            margin: auto;
            width: 80%;
            background-color: #4267B2;
            color: white;
            padding: 10px 20px;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .loginBox {
            position: relative;
            margin: auto;
            width: 80%;
            background-color: rgb(73, 0, 0);
            border: rgb(24, 24, 24) solid 2px;
            padding: 40px;
            max-width: 1111px;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }

        .logo {
            height: 200px;
            width: 200px;
        }

        .pplink {
            color: white;
            text-decoration: underline;
            width: 100%;
            font-size: 12px;
        }

        .pplink:hover {
            color: grey;
            text-decoration: underline;
        }

        .pplinkdiv {
            margin-top: 14px;
        }
    </style>
</head>

<body>
    <div class="loginBox">
        <a class="logoText" href="https://mychristianai.com/"><img class="logo" src="/jesusemoji.png"></a>
        <h2>Welcome to MyChristianAI.com!</h2>
        <p>Serving Christ through technology</p>
        <a href="/auth/facebook" class="login-button">Login with Facebook</a>
        <div class="pplinkdiv"><a href="/privacy-policy" class="pplink">Privacy Policy</a></div>
        <div class="pplinkdiv"><a href="/terms-of-service" class="pplink">Terms of Service</a></div>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </div>
</body>

</html>