<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="jesusemoji.png" type="image/x-icon">
    <title>Privacy Policy - My Christian AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .backlink {
            position: absolute;
            left: 20px;
            top: 20px;
            color: white;
        }

        .backlink:hover {
            color: gray;
        }

        body {
            text-align: left;
            padding-top: 50px;
            margin: auto;
            display: flex;
            align-items: center;
        }

        .login-button {
            margin: auto;
            width: 400px;
            background-color: #4267B2;
            color: white;
            padding: 10px 20px;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .loginBox {
            background-color: rgb(73, 0, 0);
            border: rgb(24, 24, 24) solid 2px;
            padding: 40px;
            max-width: 1111px;
            border-radius: 40px;
            position: relative;
        }

        .logo {
            height: 200px;
            width: 200px;
        }

        a {
            color: white;
        }

        a:hover {
            color: gray;
        }
    </style>
</head>

<body>
    <div class="loginBox">
        <div class="pplinkdiv"><a href="/" class="backlink">←Home</a></div>

        <a class="logoText" href="/"><img class="logo" src="/jesusemoji.png"></a>
        <h2>MyChristianAI.com Privacy Policy</h2>
        <p>Last Updated: December 21, 2023</p>

        <p>Welcome to MyChristianAI.com! We are committed to protecting your personal information and your right to
            privacy. If you have any questions or concerns about our policy, or our practices with regards to your
            personal information, please contact us at <a href="/contact">MyChristianAI.com/contact</a></p>

        <p>When you visit our MyChristianAI.com and use our services, you trust us with your personal information. We
            take your privacy very seriously. In this privacy policy, we describe our privacy policy. We seek to explain
            to you in the clearest way possible what information we collect, how we use it, and what rights you have in
            relation to it. We hope you take some time to read through it carefully, as it is important. If there are
            any terms in this privacy policy that you do not agree with, please discontinue use of MyChristianAI.com and
            our services.</p>

        <p>This privacy policy applies to all information collected through our [application(s), website(s), and/or any
            related services, sales, marketing or events].</p>

        <h2>1. What Information Do We Collect?</h2>

        <li>Only information you disclose to us userID, first and last names, email address, chat history with the AI
            bot). </li>

        <h2>2. How Do We Use Your Information?</h2>
        <li>To facilitate account creation and logon process</li>
        <li>To send administrative information to you such as updates to this policy</li>
        <li>To personalize your chat bot experience</li>

        <h2>3. Will Your Information Be Shared With Anyone?</h2>
        <li>Information may be shared with law enforcement upon request according to the appropriate procedures.
        </li>
        <li>Information is not shared from MyChristianAI.com to any other third parties, such as advertisers.</li>

        <h2>4. Who Will Your Information Be Shared With?</h2>
        <li>MyChristianAI.com uses the OpenAI API. Any text you enter into the AI chat is processed by OpenAI. Please
            refer to their policy statement.</li>
        <li>Payments are processed by Stripe, Inc. Any protected information such as credit/bank card numbers, names,
            addresses, etc regarding payments is never handled by MyChristianAI.com. Please refer to Stripe's policy.
        </li>

        <h2>5. Do We Use Cookies and Other Tracking Technologies?</h2>
        <li>>MyChristianAI.com uses express-session to persist login sessions. Session data is temporary and includes
            your userID and any cookies/JSON objects necessary to persist login states. No cookies otherwise for
            tracking outside
            of MyChristianAI.com are ever used</li>

        <h2>6. How Do We Handle Your Social Logins?</h2>
        <li>Social logins are handled through Facebook oauth. From this we collect your userID, number, first and last
            names,
            and email address.</li>

        <h2>7. What Is Our Stance On Third-Party Websites?</h2>
        <li>MyChristianAI.com does not sell or otherwise transfer your personal information to any third parties except
            those listed above (OpenAI, Stripe) on an as needed basis.</li>

        <h2>8. How Long Do We Keep Your Information?</h2>
        <li>Your personal data is kept in a secured databas until a deletion request is made by you. Data deletion is
            available upon request at <a href="/settings">MyChristianAI.com/settings</a></li>

        <h2>9. How Do We Keep Your Information Safe?</h2>
        <li>MyChristianAI.com does not collect passwords or any other sensitive personal information. The information we
            collected is limited to userID (publicly available in your Facebook url), your first and last name, your
            email address, and any information you choose to share with the chat bot that it decides to commit to long
            term memory. No information is shared automatically to the AI. Facebook information is only extracted for
            login and administrative purposes such as emails informing users of updates to our privacy policy.</li>
        <li>Your information is kept in a secure, encrypted SQL database.</li>

        <h2>10. What Are Your Privacy Rights?</h2>
        <li>Users have the right to request and download any data we have collected on them. Users may request to have
            their data deleted. Data will be marked for deletion and deleted in accordance with requirements by law
            enforcement.</li>

        <h2>11. Controls for Do-Not-Track Features</h2>
        <li>MyChristianAI.com does not track users outside of this website.</li>

        <h2>12. Do We Make Updates to This Policy?</h2>
        <li>Any updates to this policy will be sent to the email address on file provided to us upon login with
            Facebook.</li>

        <h2>13. How Can You Contact Us About This Policy?</h2>
        <li>Please contact us at <a href="/contact">MyChristianAI.com/contact</a> for any questions or inquiries
            regarding this policy or any
            other MyChristianAI.com related inquiries.</li>

    </div>
    <script type="text/javascript">
        var sc_project = 12952916;
        var sc_invisible = 1;
        var sc_security = "ea2f6d37"; 
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
                    class="statcounter" src="https://c.statcounter.com/12952916/0/ea2f6d37/1/" alt="Web Analytics"
                    referrerPolicy="no-referrer-when-downgrade"></a></div>
    </noscript>
</body>

</html>