body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-bar {
    height: 80px;
    background-color: rgb(73, 0, 0);
    /* Dark red */
    color: #eaeaea;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 20px #1f1f1f;
    padding-bottom: 16px;
}

#top-bar-contain {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    height: 80px;
}

.top-bar h2,
.top-bar .user-profile,
.top-bar select {
    margin: 0 10px;
    font-size: 1em;
}

.messages-container {
    display: flex;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    padding-right: 54px;
    flex-direction: column;
    max-width: 1111px;
    margin: auto;

}

.bottom-bar {
    background-color: #2d2d2d;
    padding: 10px;
    margin: auto;
    width: 90%;
}

@media screen and (max-width: 666px) {
    body{
        height: 90vh;
    }

    #mcai {
        display: none;
    }
    
    .user-profile p{
        display: none;
    }
}

.msgContain {
    width: 100%;
    display: block;
    clear: both;
    /* Clear floats */
}

.botMsg,
.clientMsg {
    color: #f2f2f2;
    float: left;
    /* or right depending on the message */
    text-align: left;
    border-radius: 18px;
    background-color: rgb(71, 71, 71);
    padding: 18px;
    list-style-type: none;
    margin-bottom: 18px;

}

.clientMsg {
    float: right;
    background-color: rgb(73, 0, 0);
    margin-left: 10%;

}

.botMsg {
    margin-right: 10%;
}

.selectMenu {
    color: #f2f2f2;
    background-color: rgb(36, 0, 0);
    width: 132px;
    border-radius: 10px;
    height: 44px;
}

#selectMenuDiv {
    float: right;
    text-align: center;
    font-family: 'Libre Baskerville', cursive;

}

form {
    display: flex;
}

#messageInput {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    border-radius: 14px;
    background-color: #3c3c3c;
    color: white;
    font-size: 18px;
    height: 38px;
}

#messageInput:focus {
    outline: none;
}


#send {
    border-radius: 14px;
    background-color: #3c3c3c;
    color: white;
    margin-left: 8px;
}

.logoContain {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 70px;
    width: 70px;
    margin-top: 10px;
    background-color: #230606;
    padding: 6px;
    border-radius: 50%;
    border: #000000 solid 1px;
}

.logoText {
    font-family: 'Libre Baskerville';
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 10px;
}

#mcai{
    margin-left: 30px;
}

button {
    padding: 10px;
}

#invisimessage {
    opacity: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #242424;
    /* Color of the scrollbar itself */
}

/* When the scrollbar is hovered over */
::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
    /* Darker shade for hover effect */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* 'auto' or 'thin' */
    scrollbar-color: #242424 transparent;
    /* Thumb and track color */
}

.logout-button, .settings-button {
    float: right;
    margin-top: 6px;
    font-family: 'Libre Baskerville';
    color: white;
    background-color: #2e0004;
    font-size: 36px;
    text-decoration: none;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color .6s ease;
    margin-right: 18px;
}

.logout-button{
    font-size: 22px;
    padding: 8px;
    margin-top: 14px;
}
.logout-button:hover, .settings-button:hover {
    background-color: #a3000e;
}

.imgGen{
    width: 100%;
    max-width: 640px;
    border-radius: 10px;
}